{% load static %}
<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
<!--Google Recaptcha Js-->
<script src='https://www.google.com/recaptcha/api.js'></script>
<!-- Latest jQuery -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<!-- popper min js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Latest compiled and minified Bootstrap -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- owl-carousel min js  -->
<script src="{% static 'owlcarousel/js/owl.carousel.min.js' %}"></script>
<!-- magnific-popup min js  -->
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<!-- waypoints min js  -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<!-- parallax js  -->
<script src="{% static 'js/parallax.js' %}"></script>
<!-- countdown js  -->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!-- imagesloaded js -->
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<!-- isotope min js -->
<script src="{% static 'js/isotope.min.js' %}"></script>
<!-- jquery.dd.min js -->
<script src="{% static 'js/jquery.dd.min.js' %}"></script>
<!-- slick js -->
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- elevatezoom js -->
<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
<!-- scripts js -->
<script src="{% static 'js/scripts.js' %}"></script>