<div class="section bg_default small_pt small_pb">
    <div class="custom-container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="newsletter_text text_white">
                    <h3>اشتراک در خبرنامه ما</h3>
                    <p> برای دریافت به روزرسانی در تبلیغات ، اکنون ثبت نام کنید. </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="newsletter_form2 rounded_input">
                    <form>
                        <input type="text" required="" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید">
                        <button type="submit" class="btn btn-dark btn-radius" name="submit" value="Submit">اشتراک</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>