{% load static %}
<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav bg-info navbar-dark navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon feather icon-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav bookmark-icons">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="{% url 'AdminSite__Ak:email_management_view' %}" data-toggle="tooltip" data-placement="top" title="ایمیل"><i class="ficon feather icon-mail"></i></a></li>

                    </ul>
                    <ul class="nav navbar-nav">
                            <div class="bookmark-input search-input">
                                <div class="bookmark-input-icon"><i class="feather icon-search primary"></i></div>
                                <input class="form-control input" type="text" placeholder="جستجو در Vuexy ..." tabindex="0" data-search="template-list">
                                <ul class="search-list search-list-bookmark"></ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i class="ficon feather icon-maximize"></i></a></li>
                    <li class="nav-item nav-search"><a class="nav-link nav-link-search"><i class="ficon feather icon-search"></i></a>
                        <div class="search-input">
                            <div class="search-input-icon"><i class="feather icon-search primary"></i></div>
                            <input class="input" type="text" placeholder="جستجو در Vuexy ..." tabindex="-1" data-search="template-list">
                            <div class="search-input-close"><i class="feather icon-x"></i></div>
                            <ul class="search-list search-list-main"></ul>
                        </div>
                    </li>
                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                        <div class="user-nav d-sm-flex d-none">
                            <span class="user-name text-bold-600">{{ user.get_full_name }}</span>
                        </div>
                        <span>
                            <img class="round" src="{{ user.profile.user_profile.url }}" alt="avatar" height="40" width="40">
                        </span>
                    </a>
                        <div class="dropdown-menu dropdown-menu-left"><a class="dropdown-item" href="{% url 'AdminSite__Ak:edit_user_view' request.user.pk %}">
                            <i class="feather icon-user"></i>
                            ویرایش نمایه
                        </a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'AdminSite__Ak:admin_logout' %}"><i class="feather icon-power"></i> خروج</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<ul class="main-search-list-defaultlist-other-list d-none">
    <li class="auto-suggestion d-flex align-items-center justify-content-between cursor-pointer"><a class="d-flex align-items-center justify-content-between w-100 py-50">
        <div class="d-flex justify-content-start"><span class="mr-75 feather icon-alert-circle"></span><span>نتیجه ای پیدا نشد</span></div></a></li>
</ul>