{% load static %}
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="index.html">
                <div class="brand-logo"></div>
                <h2 class="brand-text mb-0">AZ KALA</h2></a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                    class="feather icon-x d-block d-xl-none font-medium-4 primary toggle-icon"></i><i
                    class="toggle-icon feather icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary"
                    data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="{% url 'AdminSite__Ak:dashboard' %}">
                    <i class="feather icon-home"></i>
                    <span class="menu-title" data-i18n="Dashboard">پیشخوان</span>
                </a>
            </li>
            <li class=" navigation-header"><span>اپلبکیشن ها</span>
            </li>
            <li class=" nav-item"><a href="{% url 'AdminSite__Ak:email_management_view' %}"><i class="feather icon-mail"></i><span class="menu-title"
                                                                                                  data-i18n="Email">ایمیل</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-shopping-cart"></i><span class="menu-title"
                                                                                              data-i18n="Ecommerce">مدیریت محصولات</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="{% url 'AdminSite__Ak:products_list_view' %}">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item" data-i18n="Shop">لیست محصولات</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'AdminSite__Ak:create_product_view' %}">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item" data-i18n="Shop">ایجاد محصول جدید</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class=" nav-item"><a href="#"><i class="feather icon-message-circle"></i><span class="menu-title"
                                                                                              data-i18n="Ecommerce">مدیریت نظرات</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="{% url 'AdminSite__Ak:Comment_List' %}">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item" data-i18n="Shop">لیست نظر ها</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-user"></i><span class="menu-title"
                                                                                     data-i18n="User">مدیریت کاربران</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="{% url 'AdminSite__Ak:list_users_view' %}">
                            <i class="feather icon-circle"></i>
                            <span class="menu-item" data-i18n="List">لیست کاربران</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class=" nav-item"><a href="{% url 'AdminSite__Ak:settings_view' %}"><i
                    class="feather icon-settings"></i><span class="menu-title" data-i18n="Email">تنظیمات سایت</span></a>

        </ul>
    </div>
</div>