{% load static %}
<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="rtl">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<head>
    <!--Meta Tag-->
    {% include 'AdminPanel/__Main__/MetaTag_Main__.html' %}
    <!--Start Title-->
    <title>
        {#    Index Title    #}
    </title>
    <!--End Title-->

    <!-- BEGIN: Vendor CSS-->
    {% include 'AdminPanel/__Main__/Css/begin_vendor_css.html' %}
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    {% include 'AdminPanel/__Main__/Css/begin_theme_css.html' %}

    <!-- BEGIN: Page CSS-->
    {% include 'AdminPanel/__Main__/Css/begin_page_css.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'AdminPanel/app-assets/css-rtl/pages/authentication.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    {% include 'AdminPanel/__Main__/Css/begin_custom_css.html' %}
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->
<body class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page"
      data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
<!-- BEGIN: Content-->
{% block LoginPage %}
{% endblock %}

{% block ResetPasswordViewDone %}{% endblock %}

{% block ResetPasswordViewComplate %}{% endblock %}

{% block ResetPasswordForms %}
{% endblock %}

{% block ConfirmResetPasswordForms %}
{% endblock %}
<!-- END: Content-->


<!------------Start Js Reference------------>
<!------------Start Jquery Reference--------->
{% include 'AdminPanel/__Main__/Js/Jquery-min.html' %}
<!------ BEGIN: Google Recaptcha------>
{% include 'AdminPanel/__Main__/Js/begin_google_recaptcha.html' %}
<!-- BEGIN: Vendor JS-->
{% include 'AdminPanel/__Main__/Js/begin_vendor_js.html' %}
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="{% static 'AdminPanel/app-assets/js/core/app-menu.min.js' %}"></script>
<script src="{% static 'AdminPanel/app-assets/js/core/app.min.js' %}"></script>
<script src="{% static 'AdminPanel/app-assets/js/scripts/components.min.js' %}"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>
