{% extends 'AdminPanel/Auth/base_auth.html' %}
{% load static %}

<!-- BEGIN: Content-->
{% block ResetPasswordViewComplate %}
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div class="header-navbar-shadow"></div>
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><section class="row flexbox-container">
    <div class="col-xl-8 col-11 d-flex justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-12">
                    <div class="card text-white bg-success text-center box-shadow-2">
                        <div class="card-content">
                            <div class="card-body">
                                <div class="fonticon-wrap">
                                    <i class="feather icon-check-circle" style="font-size: 8rem !important;"></i>
                                </div>
                                <h4 class="card-title text-white mt-1 mx-4">رمز عبور جدید تنظیم شد</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</section>

        </div>
      </div>
    </div>
{% endblock %}
<!-- END: Content-->
