{% extends 'AdminPanel/Auth/base_auth.html' %}
{% load static %}
<!-- BEGIN: Content-->
{% block ResetPasswordForms %}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body"><section class="row flexbox-container">
            <div class="col-xl-8 col-11 d-flex justify-content-center">
                <div class="card bg-authentication rounded-0 mb-0">
                    <div class="row m-0">
                        <div class="col-lg-6 d-lg-block d-none text-center align-self-center px-1 py-0">
                            <img src="{% static 'AdminPanel/app-assets/images/pages/login.png' %}" alt="branding logo">
                        </div>
                        <div class="col-lg-6 col-12 p-0">
                            <div class="card rounded-0 mb-0 px-2 h-100">
                                <div class="card-header pb-1">
                                    <div class="card-title">
                                        <h4 class="mb-0">ارسال لینک بازیابی رمز عبور</h4>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-body pt-1">
                                        <form method="post">
                                            {% csrf_token %}
                                            <fieldset class="form-label-group form-group position-relative has-icon-left">
                                                {{ form.email }}
                                                <div class="form-control-position">
                                                    <i class="feather icon-em"></i>
                                                </div>
                                                <label for="email-account">ایمیل</label>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                 <!--Google Recaptcha-->
                                                    <div class="g-recaptcha"
                                                         data-sitekey="6LdAF-QaAAAAAE4wjb-hA0eJBo5CkwJwBoKIhdAt"></div>
                                                    <!--End Google Recaptcha-->
                                            </fieldset>
                                            <button type="submit" class="btn btn-block btn-primary float-right btn-inline">ارسال لینک بازیابی</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </div>
    </div>
</div>
{% endblock %}