{% extends 'AdminPanel/__Main__/base.html' %}
{% load static %}
{#-----Vendor Css----#}
{% block vendor_css_users_list %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'AdminPanel/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    {# Toaster #}
    <link rel="stylesheet" type="text/css" href="{% static 'AdminPanel/app-assets/vendors/css/extensions/toastr.css' %}">
{% endblock %}
{#-----Page Css----#}
{% block page_css_users_list %}
    <link rel="stylesheet" type="text/css" href="{% static 'AdminPanel/app-assets/css-rtl/plugins/extensions/toastr.min.css' %}">
{% endblock %}


<!-- BEGIN: Content-->
{% block list_users %}
    <!-- Modal Add User -->
    <div class="modal fade" id="add-a-user-medal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalScrollableTitle">
                        ایجاد کاربر جدید
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                                                        <span aria-hidden="true"
                                                              id="close_modal_register_user">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body_add_user">
                    <div class="">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">
                        انصراف از ثبت کاربر جدید
                    </button>
                </div>
            </div>
        </div>
    </div>
    {# End Add User #}


    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">لیست کاربران</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">پیشخوان</a>
                                    </li>
                                    <li class="breadcrumb-item active"> جدول کاربران</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                    class="feather icon-settings"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">گفتگو</a><a
                                    class="dropdown-item" href="#">ایمیل</a><a class="dropdown-item" href="#">تقویم</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- users filter start -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">فیلترها</h4>
                        <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="feather icon-chevron-down"></i></a></li>
                                <li><a data-action="">
                                    <button class="feather icon-rotate-cw users-data-filter"
                                            id="update_the_user_list"></button>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body">
                            <div class="users-list-filter">
                                <form>
                                    <div class="row" id="div_advanced__user__filter">
                                        <div class="col-12 col-sm-6 col-lg-4">
                                            <label for="users-list-role">نقش</label>
                                            <fieldset class="form-group">
                                                <select class="form-control" id="users-list-role">
                                                    <option value="all_permissions">همه</option>
                                                    <option value="is_superuser">مدیر</option>
                                                    <option value="is_member">کاربر</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-4">
                                            <label for="users-list-status">وضعیت</label>
                                            <fieldset class="form-group">
                                                <select class="form-control" id="users-list-status">
                                                    <option value="all_status">همه</option>
                                                    <option value="true">فعال</option>
                                                    <option value="false">غیرفعال</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-12 col-sm-6 col-lg-4">
                                            <label for="users-list-gender">جنسیت</label>
                                            <fieldset class="form-group">
                                                <select class="form-control" id="users-list-gender">
                                                    <option value="all_gender">همه</option>
                                                    <option value="MR">مرد</option>
                                                    <option value="MS">زن</option>
                                                    <option value="TG">دیگر</option>
                                                </select>
                                            </fieldset>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- users filter end -->

                <!-- Zero configuration table -->
                <section>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">پیکربندی پایه</h4>
                                    {# Buttons #}
                                    <p class="d-flex align-items-center ml-auto mt-1 d-btn">
                                    {# Delete Buttons #}
                                    <button class="btn btn-danger btn-round btn-icon mr-1" id="del-user-btn">
                                        <i class="feather icon-trash-2"></i>
                                    </button>
                                    {# Start Add User #}
                                    <button class="btn btn-primary btn-round btn-icon" data-toggle="modal" data-target="#add-a-user-medal" id="add-user-btn">
                                        <i class="feather icon-plus"></i>
                                    </button>
                                    </p>
                                </div>
                                <div class="card-content" id="content_user_list">
                                    <div class="card-body card-dashboard">
                                        <div class="d-flex">
                                            <p class="card-text">
                                                مشاهده لیست کاربران
                                            </p>
                                            <p class="card-text ml-auto mr-1">
                                                تعداد کاربران:
                                                {{ list_users.paginator.count }}
                                            </p>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>تعداد</th>
                                                    <th style="width: 6rem">عکس کاربر</th>
                                                    <th>نام و نام خانوادگی</th>
                                                    <th>ایمیل</th>
                                                    <th>ویرایش کاربر</th>
                                                    <th>فعال / غیرفعال</th>
                                                    <th>کاربر ویژه</th>
                                                    <th>کارمند</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for user in list_users %}
                                                    <tr class="">
                                                        {# Counter #}
                                                        <td class="mx-1 text-center">{{ forloop.counter }}</td>
                                                        {# Profile #}
                                                        <td>
                                                            <img src="{{ user.profile.user_profile.url }}" alt=""
                                                                 width="50%">
                                                        </td>
                                                        {# Name #}
                                                        <td class="align-middle align-items-center">
                                                            <span title="{{ user.get_full_name }}"
                                                                  data-toggle="tooltip">
                                                                {{ user.get_full_name|truncatechars:12 }}
                                                            </span>
                                                        </td>

                                                        {# Username #}
                                                        <td class="align-middle align-items-center">
                                                            <span title="{{ user.username }}" data-toggle="tooltip">
                                                                {{ user.username|truncatechars:12 }}
                                                            </span>
                                                        </td>

                                                        <td class="align-middle d-flex align-items-center justify-content-start">
                                                            {# Edit User #}
                                                            <a class="UserId align-middle"
                                                               href="{{ user.profile.get_absolute_url_user_edit }}">
                                                                <i class="feather icon-edit float-left mr-1 font-weight-edit-icon-user-list"></i>
                                                            </a>

                                                            <a class="align-middle font-weight-view-icon-user-list"
                                                               href="{{ user.profile.get_absolute_url_user_display }}">
                                                                <i class="feather icon-eye mr-1 my-auto d-flex"></i>
                                                            </a>

                                                            <div class="custom-control custom-switch custom-switch-danger switch-md mr-2 my-auto py-1 selector_for__jq">
                                                                <input type="checkbox" class="custom-control-input"
                                                                       id="customSwitch-{{ user.pk }}">
                                                                <label class="custom-control-label"
                                                                       for="customSwitch-{{ user.pk }}">
                                                                    <span class="switch-text-left">حذف</span>
                                                                </label>
                                                            </div>
                                                        </td>

                                                        <td>
                                                            <i class="fa {% if user.is_active %}fa-check-circle text-success {% else %} fa-times text-danger {% endif %}"></i>
                                                        </td>
                                                        <td>
                                                            <i class="fa {% if user.is_superuser %} fa-check-circle text-success {% else %} fa-times text-danger {% endif %}"></i>
                                                        </td>
                                                        <td>
                                                            <i class="fa {% if user.is_staff %} fa-check-circle text-success {% else %} fa-times text-danger {% endif %}"></i>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {# ----------Pagination----------- #}
                                        {% if list_users.has_other_pages %}
                                            {# Pre Buttons #}
                                            <ul class="pagination justify-content-center mt-2">
                                                {% if list_users.has_previous %}
                                                    <li class="page-item prev-item">
                                                        <a class="page-link"
                                                           href="?page{{ list_users.previous_page_number }}"></a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item prev-item disabled">
                                                        <a class="page-link" href="#"></a>
                                                    </li>
                                                {% endif %}

                                                {% for page in list_users.paginator.page_range %}
                                                    <li class="page-item {% if list_users.number == page %}active{% endif %}">
                                                        <a class="page-link"
                                                           href="{% if list_users.number != page %}?page=
                                                               {{ page }}{% else %}#{% endif %}">{{ page }}</a>
                                                    </li>
                                                {% endfor %}


                                                {# ---Next Buttons----- #}
                                                {% if list_users.has_next %}
                                                    <li class="page-item next-item">
                                                        <a class="page-link"
                                                           href="?page{{ list_users.next_page_number }}"></a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item next-item disabled">
                                                        <a class="page-link" href="#"></a>
                                                    </li>
                                                {% endif %}
                                            </ul>
                                        {% endif %}
                                        {# ---------End Pagination--------- #}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--/ Zero configuration table -->
            </div>
        </div>
    </div>
{% endblock %}
<!-- END: Content-->


{#----Page Vendor Js----#}
{% block page_vonder_js_users_list %}
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/vfs_fonts.js' %}"></script>
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js' %}"></script>
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/buttons.html5.min.js' %}"></script>
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/buttons.print.min.js' %}"></script>
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'AdminPanel/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js' %}"></script>
    {# Toaster #}
    <script src="{% static 'AdminPanel/app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
    {# Sweet Alert #}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock %}
{#----Page Js----#}
{% block page_js_users_list %}
    <script src="{% static 'AdminPanel/app-assets/js/scripts/datatables/datatable.min.js' %}"></script>
    {#--Modal Component--#}
    <script src="{% static 'AdminPanel/app-assets/js/scripts/modal/components-modal.min.js' %}"></script>
    {#--Toast Component--#}
    <script src="{% static 'AdminPanel/app-assets/js/scripts/pages/bootstrap-toast.min.js' %}"></script>
    {# --Toaster 2-- #}
    <script src="{% static 'AdminPanel/app-assets/js/scripts/extensions/toastr.min.js' %}"></script>
    {#--User List Ajax--#}
    <script src="{% static 'AdminPanel/app-assets/js/ajax/users/user-list.js' %}"></script>
{% endblock %}


